.navbar{
    background-color: #0f0f0f;
}

.nav-item{
    background-color:#ffffff;
}

.bi{
    color:#ffffff;
}


.btn, .navbar-brand{
    transition: transform 250ms;
}
.icon:hover{
    transform: translateY(-7px);
}

.navbar-brand:hover,
.login:hover{
    transform: scale(1.2);
}

@media (min-width:768px){
    .navbar{
        height:6rem;
        box-shadow: 0px 16px 25px -5px rgba(0,0,0,0.73);
        -webkit-box-shadow: 0px 16px 25px -5px rgba(0,0,0,0.73);
        -moz-box-shadow: 0px 16px 25px -5px rgba(0,0,0,0.73);
    }
}