<div class="row gap-4">
    <h2>Educación</h2>
    <div class="container">
        <button class="btn btn-primary m-3" type="button" routerLink="/nuevaedu" *ngIf="isLogged" >Agregar educación</button>
    </div>
    <div class="card col-sm-12 col-md-6 " style="width: 18rem;" *ngFor="let Educacion of educacion">
        <img src="../../../assets/img/Logo_CoderHouse.png" class="card-img" alt="...">
        <div class="card-body">
            <h4 class="card-title"><strong>{{Educacion.nombreE}}</strong></h4>
            <p class="card-text">{{Educacion.descripcionE}}</p>
            <button class="btn btn-primary m-3" routerLink="/editedu/{{Educacion.id}}" *ngIf="isLogged">Editar</button>
            <button class="btn btn-primary m-3" *ngIf="isLogged" (click)="delete(Educacion.id)">Borrar</button>
        </div>
    </div>
</div>