<div class="row gap-4 my-5">
    <h2>Proyectos</h2>
    <div class="container">
        <button class="btn m-3" type="button" routerLink="/nuevopro" *ngIf="isLogged" >Agregar proyecto</button>
    </div>
    <div class="card col-sm-12 col-md-6 " style="width: 18rem;" *ngFor="let Proyecto of proyecto">
        <div class="card-body">
            <h4 class="card-title"><strong>{{Proyecto.nombreP}}</strong></h4>
            <p class="card-text">{{Proyecto.descripcionP}}</p>
            <button class="btn m-3">
                <a class="link" href="{{Proyecto.link}}" target="_blank">Link al proyecto</a>
            </button>
            <button class="btn m-3" routerLink="/editpro/{{Proyecto.id}}" *ngIf="isLogged">Editar</button>
            <button class="btn m-3" *ngIf="isLogged" (click)="delete(Proyecto.id)">Borrar</button>
        </div>
    </div>
</div>

