<div class="row gap-4">
    <h2>Proyectos</h2>
    <div class="card col-sm-12 col-md-6 " style="width: 18rem;">
        <img src="../../../assets/img/Central_Argentino.png" class="card-img " alt="...">
        <div class="card-body">
            <h4 class="card-title"><strong>Central Argentino</strong></h4>
            <p class="card-text">Sitio web para un club de barrio, separado por las diferentes actividades y secciones que precisaba el cliente.</p>
            <a href="https://delicate-starburst-ccf0a3.netlify.app/" target="_blank" class="btn btn-primary">Ir al sitio</a>
        </div>
    </div>
</div>

