<div class="container my-4">
    <h2>Acerca de mi</h2>
    <div>
        <div class="d-flex justify-content-center align-items-center row">
            <div class="wrapper col-md-4 d-inline">
                <div class="item">
                    <div class="polaroid">
                        <img class="img-polaroid"src="../../../assets/img/Perfil.jpeg">
                    </div>
                </div>
            </div>
            <div class="text col-md-6">
                <p>{{persona.nombre}} {{persona.apellido}}</p>
            </div>
        </div>
    </div>
</div>
