<div class="container my-4">
    <h2>Acerca de mi</h2>
    <div>
        <div class="d-flex justify-content-center align-items-center row">
            <div class="wrapper col-md-4 d-inline">
                <div class="item">
                    <div class="polaroid">
                        <img class="img-polaroid"src="../../../assets/img/Perfil.jpeg">
                    </div>
                </div>
            </div>
            <div class="text col-md-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint rerum, sed quae sunt fugiat dolore et quas veniam accusamus quo nesciunt mollitia necessitatibus magnam eveniet quis vitae a quibusdam quisquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui similique dignissimos voluptates excepturi velit consequatur eius ipsum ullam dicta! Voluptatem, pariatur error voluptates ut quos cum mollitia laboriosam molestias quidem!</p>
            </div>
        </div>
    </div>
</div>
